.HotAccessoriesMenu{
    display: flex;
    justify-content: center;
}
.activated {
    border-bottom:2px solid rgb(236, 70, 78);
    padding:8px;
    
  }
.HotAccessoriesLink{
    text-decoration: none;
    color: rgb(94, 94, 94);
    margin: 1vmax;
    padding: 0.5vmax 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.HotAccessoriesLink:hover{
    text-decoration: none;
    color: orangered;
    border-bottom: 1px solid orangered;
} 
.nav-link.active {
    color: white;
  }
