.offersSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 1vmax;
  }

  .offersSection   img{
    margin: 0 1vmax;
    transition: all 0.5s;
    padding-top: 2vmax;
}

.offersSection   img:hover{
    box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
  }